@use "./styles" as *;

button {
  cursor: pointer;
}

// 네비게이션 영역
@mixin sprite_img($n) {
  background-image: url(./assets/icon-location/icon-location-sprite.png);
  background-size: rem(547px) rem(26px);
  background-repeat: no-repeat;
  background-position: rem((-35 * ($n - 1)) * 1px) 0;
}

.navigation {
  padding: rem(25px) rem(34px) 0 rem(34px);
  @include desktop {
    @include flexbox(row, $items: center);
    gap: rem(22px);
  }
  &__list {
    @include flexbox($direction: row, $wrap: nowrap);
    overflow: hidden;
    overflow-x: scroll;
    

    @include desktop {
      gap: rem(50px);
    }
    @include mobile {
      gap: rem(20px);
    }
  }
  &__item {
    white-space: nowrap;
    @include text-12-regular;
  }
  &__item__button {
    border: none;
    background-color: transparent;
    @include desktop {
      height: rem(63px);
    }
    @include mobile {
      height: rem(53px);
    }
  }
  > button {
    @include desktop {
      flex-shrink: 0;
      border: rem(1px) solid $grayscale-gray1;
    }
    @include mobile {
      display: none;
    }
  }

  &__left,
  &__right {
    width: rem(37px);
    height: rem(37px);
    border-radius: 50%;
    background-color: transparent;
    background-image: url(./assets/icon/icon-right-arrow.png);
    background-size: rem(20px);
    background-repeat: no-repeat;
    background-position: center;
  }
  &__left {
    transform: rotate(180deg);
    display: none;
  }
  &__filter {
    @include text-14-regular;
    width: rem(93px);
    height: rem(55px);
    padding-right: rem(15px);
    border-radius: rem(10px);
    text-align: right;
    background-image: url(./assets/icon/icon-filter.png);
    background-repeat: no-repeat;
    background-size: rem(19px);
    background-position-y: center;
    background-position-x: rem(20px);
    background-color: $grayscale-white;
  }
}

.navigation__item:hover,
.navigation__item:focus {
  position: relative;
  &::after {
    content: "";
    display: block;
    width: 100%;
    height: rem(3px);
    border-radius: rem(3px);
    background-color: $grayscale-gray1;
    @include pos(absolute, $b: 0);
  }
}

@for $i from 1 through 16 {
  .navigation__item:nth-child(#{$i}) {
    button::before {
      content: "";
      display: block;
      width: rem(26px);
      height: rem(26px);
      margin: 0 auto rem(4px) auto;
      @include sprite_img($i);
    }
  }
}

// 메인 영역
// 임시 숨김 처리
.accommodation__container button {
  display: none;
}

.accommodation {
  &__container {
    display: grid;
    position: relative;
    padding: rem(34px);
    grid-template-columns: repeat(auto-fit, minmax(rem(330px), auto));
    gap: rem(34px);
  }

  &__item {
    &__image {
      img {
        width: 100%;
        aspect-ratio: 1 / 1;
        border-radius: rem(10px);
        background-color: $grayscale-gray1;
      }
    }

    &__brief {
      @include text-15-regular;
      position: relative;
      margin-top: rem(15px);

      .font-bold {
        color: $grayscale-black;
        abbr {
          text-decoration: none !important;
          cursor: help;
        }
      }

      li:nth-child(n + 1):nth-child(-n + 3) {
        margin-bottom: rem(4px);
      }

      li:nth-child(n + 2):nth-child(-n + 3) {
        color: $grayscale-gray2;
      }

      li:nth-child(4) {
        margin-top: rem(9px);
      }

      .review {
        @include pos($t: 0, $r: 0);
      }

      .review::before {
        content: "★";
        display: inline;
      }
    }
  }
  &__container::after {
    content: "";
    @include pos($l: 10%, $b: 0);
    display: block;
    width: 80%;
    height: rem(2px);
    background-color: $grayscale-gray1;
  }

  &__more {
    @include text-14-regular;
    @include flexbox($direction: column, $justify: center, $items: center);
    padding: rem(20px);
    margin-top: rem(40px);

    &__button {
      @include text-14-bold;
      background-color: transparent;
      margin-top: rem(14px);
      padding: rem(10px) rem(25px);
      border: rem(1px) solid $grayscale-gray2;
      border-radius: rem(4px);
    }
  }
}
