@use "./../utils/" as *;
@use "./../themes/" as *;

// 스킵 네비게이션
.skip-nav {
  @include desktop {
    @include pos($t: rem(3px), $l: rem(3px));
    @include flexbox($justify: center, $items: center);
    width: rem(182px);
    height: rem(64px);
    transform: translateY(-110%);
    background: #fff;
    color: #000;
    z-index: 10;

    & span {
      display: inline-block;
    }

    &:focus {
      transform: none;
    }
  }
}

// 헤더 영역 - 데스크탑 버전
.header {
  @include desktop {
    @include flexbox($justify: space-between, $items: center);
    padding: 0 rem(80px);
    height: rem(80px);
    border-bottom: 1px solid #cfcfcf;
  }
  button {
    border: none;
    background-color: transparent;
  }

  .user__info {
    border: 1px solid #cfcfcf;
  }
}

.logo {
  &__link {
    width: rem(250px);
  }

  &__image {
    width: rem(103px);
    height: rem(55px);
  }
}

.search__container {
  @include flexbox($justify: space-evenly, $items: center);
  width: rem(345px);
  height: rem(57px);
  border: 1px solid #cfcfcf;
  border-radius: rem(30px);
  box-shadow: rem(0) rem(1px) rem(2px) rgb(0 0 0 / 8%),
    rem(0) rem(4px) rem(12px) rgb(0 0 0 / 5%);
}

[aria-label="날짜로 검색하기"] {
  position: relative;

  &::before {
    content: "";
    @include pos($t: 0, $l: rem(-7px));
    width: rem(1px);
    height: rem(24px);
    background: $grayscale-gray1;
  }

  &::after {
    content: "";
    @include pos($t: 0, $r: rem(-7px));
    width: rem(1px);
    height: rem(24px);
    background: $grayscale-gray1;
  }
}

.search__button.icon {
  width: rem(20px);
  height: rem(20px);
  border-radius: 50%;
  background: $primary-pink center
    url("./../../assets/icon/icon-search-white.svg") no-repeat;
  background-size: rem(10px) rem(10px);
}

.toolbar-container {
  @include flexbox($justify: space-around, $items: center);
  width: rem(250px);
}

.language__button {
  width: rem(40px);
  height: rem(42px);
  margin: 0 rem(12px);
  background: center url("./../../assets/icon/icon-globe.svg") no-repeat;
  background-size: rem(16px) rem(16px);
}

.user__info {
  width: rem(77px);
  height: rem(42px);
  border-radius: rem(20px);
  background-image: url("./../../assets/icon/icon-hamburger-menu.svg"),
    url("./../../assets/icon/icon-avatar-filled.png");
  background-size: rem(16px) rem(16px), rem(30px) rem(30px);
  background-repeat: no-repeat no-repeat;
  background-position: rem(12px) rem(12px), rem(36px) rem(6px);
}
