@use "./../utils/" as *;
@use "./../themes/" as *;

// 스킵 네비게이션
.skip-nav {
  @include desktop {
    @include pos($t: rem(3px), $l: rem(3px));
    @include flexbox($justify: center, $items: center);
    width: rem(182px);
    height: rem(64px);
    transform: translateY(-110%);
    background: $grayscale-white;
    color: $grayscale-black;
    z-index: 10;
  }
  @include mobile {
    display: none;
  }

  & span {
    @include desktop {
      display: inline-block;
    }
  }

  &:focus {
    @include desktop {
      transform: none;
    }
  }
}

// 헤더 영역 - 데스크탑 버전
.header {
  @include desktop {
    @include flexbox($justify: space-between, $items: center);
    padding: 0 rem(70px);
    height: rem(80px);
    @include text-14-regular;
    border-bottom: 1px solid $grayscale-gray1;
  }
  button {
    border: none;
    background-color: transparent;
  }

  .user__info {
    border: 1px solid $grayscale-gray1;
  }
}

.logo {
  &__link {
    @include desktop {
      width: rem(250px);
      outline: none;
    }
    @include mobile {
      display: none;
    }
  }

  &__link:focus &__image {
    @include desktop {
      outline: medium solid #0000ff;
      border-radius: rem(5px);
    }
  }

  &__image {
    @include desktop {
      width: rem(103px);
      height: rem(55px);
    }
  }
}

.search__container {
  border: 1px solid $grayscale-gray1;
  border-radius: rem(30px);
  box-shadow: 0 rem(1px) rem(2px) rgb(0 0 0 / 8%),
    0 rem(4px) rem(12px) rgb(0 0 0 / 5%);
  @include desktop {
    @include flexbox($justify: space-evenly, $items: center);
    width: rem(345px);
    min-width: rem(300px);
    height: rem(57px);
    white-space: nowrap;
  }
  @include mobile {
    position: relative;
    margin: rem(23px) auto rem(19px) auto;
    padding: rem(25px) 0 0 rem(43px);
    width: 90%;
    height: rem(47px);
    @include text-12-regular;
  }
  &::before {
    @include mobile {
      content: "";
      @include pos($t: rem(17px), $l: rem(14px));
      width: rem(13px);
      height: rem(13px);
      background: url("./../../assets/icon/icon-search.svg") no-repeat;
      background-size: contain;
    }
  }
  &::after {
    @include mobile {
      content: "어디로 여행가세요?";
      @include pos($t: rem(8px), $l: rem(49px));
      @include text-14-bold;
    }
  }
}

.search__button:nth-child(3) {
  &::before {
    @include mobile {
      content: "·";
    }
  }

  &::after {
    @include mobile {
      content: "·";
    }
  }
}

.search__button:nth-child(3) {
  @include desktop {
    position: relative;
  }
  &::before {
    @include desktop {
      content: "";
      @include pos($t: 0, $l: rem(-6px));
      width: rem(1px);
      height: rem(24px);
      background: $grayscale-gray1;
    }
  }

  &::after {
    @include desktop {
      content: "";
      @include pos($t: 0, $r: rem(-6px));
      width: rem(1px);
      height: rem(24px);
      background: $grayscale-gray1;
    }
  }
}

.search__button.icon {
  @include desktop {
    width: rem(20px);
    height: rem(20px);
    border-radius: 50%;
    background: $primary-pink center
      url("./../../assets/icon/icon-search-white.svg") no-repeat;
    background-size: rem(10px) rem(10px);
  }
}

.search__button.filter {
  @include desktop {
    display: none;
  }
  @include mobile {
    @include pos($t: rem(11px), $r: rem(10px));
    width: rem(25px);
    height: rem(25px);
    border: 1px solid $grayscale-gray1;
    border-radius: 50%;
    background: rem(6.5px) rem(6.5px) url("./../../assets/icon/icon-filter.png")
      no-repeat;
    background-size: rem(10px) rem(10px);
  }
}

.toolbar-container {
  @include desktop {
    @include flexbox($justify: space-around, $items: center);
    width: rem(250px);
  }
  @include mobile {
    display: none;
  }
}

.host__link {
  @include desktop {
    white-space: nowrap;
  }
}

.language__button {
  @include desktop {
    width: rem(40px);
    height: rem(42px);
    background: center url("./../../assets/icon/icon-globe.svg") no-repeat;
    background-size: rem(16px) rem(16px);
  }
}

.user__info {
  @include desktop {
    width: rem(72px);
    height: rem(36px);
    border-radius: rem(20px);
    background-image: url("./../../assets/icon/icon-hamburger-menu.svg"),
      url("./../../assets/icon/icon-avatar-filled.png");
    background-size: rem(20px) rem(17.5px), rem(20px) rem(20px);
    background-repeat: no-repeat no-repeat;
    background-position: rem(12px) rem(9px), rem(40px) rem(7px);
  }
}
