$grayscale-white: #ffffff;
$grayscale-gray1: #dcdcdc;
$grayscale-gray2: #646464;
$grayscale-black: #0e0e0e;
$primary-pink: #ec5064;

@mixin box-shadow2 {
  box-shadow: 0px 1px 6px rgba(130, 130, 130, 0.25);
}
